
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f8f8;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 30px auto;
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    }
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
       
    }
    .logo div h2 + img{
        margin-left: 20px;
        color: #045d89;
    }
    .logo {
        margin-right: 20px;
        color: #045d89;
    }
    .logo div h2{
        margin-left: 20px;
        width: 50%;
        height: auto;
    }
    .header {
      background-color: #3d95ce;
      color: white;
      padding: 20px;
      text-align: center;
    }
    .body {
      padding: 20px;
      color: #333;
    }
    .payment-box {
      background-color: #f1f1f1;
      padding: 15px;
      border-radius: 6px;
      font-size: 15px;
      margin: 15px 0;
    }
    .button {
      display: inline-block;
      background-color: #3d95ce;
      color: white;
      text-decoration: none;
      padding: 12px 24px;
      border-radius: 4px;
      font-weight: bold;
      text-align: center;
      margin-top: 15px;
    }
    .qr {
      text-align: center;
      margin: 20px 0;
    }
    .footer {
      background-color: #f4f4f4;
      text-align: center;
      padding: 15px;
      font-size: 14px;
      color: #777;
    }